In [1]:
import pandas as pd
import category_encoders as ce

In [2]:
data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

In [3]:
df.head()

  Category
0        A
1        B
2        C
3        A
4        B

In [4]:
df.shape

(9, 1)

In [5]:
encoder = ce.BinaryEncoder(cols=['Category'], return_df=True)

In [6]:
df_binary_encoded = encoder.fit_transform(df)
df_binary_encoded

   Category_0  Category_1
0           0           1
1           1           0
2           1           1
3           0           1
4           1           0
5           1           1
6           0           1
7           1           0
8           1           1