In [13]:
# !pip install gspread

In [1]:
import gspread as gs
import pandas as pd

In [3]:
gc = gs.service_account(filename="C:\\Users\\rashe\\Downloads\\aiquest-376023-1304ddc10d11.json")

In [4]:
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1zr1M2Tdrash8S8LdbnwpzLmbCDESZaXCkA_2d-nd6fI/edit?usp=sharing')

In [5]:
sh

In [10]:
ws = sh.worksheet('emp2')

In [11]:
df = pd.DataFrame(ws.get_all_records())
df.head()

   name2  age2
0  noman    27
1   rony    28
2  sohan    30
3  shuvo    31